<html ng-app="plunker">
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!--  <script src="vendors/ui-router.min.js"></script>
    <script src="vendors/angular-google-gapi.min.js"></script>-->
	<script src="app.js"></script>
		<title>Quel menteur es tu ? by Alexandre, Cellia & Michel</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
 

		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing" ng-controller="MainCtrl">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">Quel menteur es-tu ?</a></strong> by MIAGE</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Quel député es-tu ?</h2>
				<p> Répond à 10 questions et vois quel député a répondu comme toi (ou presque) </p>
				<ul class="actions">
				
					<li><a class="button special big" ng-click="login()"  href="" role="button" ng-hide='t==2' ng-click='login()'>Login with Google</a></li>
					<li><a class="button special big"  href="https://github.com/Hynaro/ProjetDWAR2016" role="button">Lien vers le code sur github</a></li>
				</ul>
				
			</section>
	<body >
    <div ng-show='t==2 && law < 10'>
      <h1>{{law}}</h1>
      <h1>{{sample[law].description}}</h1>
     <form name="myForm">
      <label>
        <input type="radio" ng-model="vote" value="pour">
        yes
        <input type="radio" ng-model="vote" value="contre">
        no
        <input type="radio" ng-model="vote" value="abstention">
        don't care
        <input type="radio" ng-model="vote" value="49.3">
        49.3 (yes whatever you think)
      </label><br/><br/>
     </form>
      <button ng-click='click()' ng-model="bouton"> Next law </button>
    </div>
    <div ng-hide='law < 10'>
      <button ng-click='results()' ng-model="bouton"> Results </button>
      <h1 ng-show = 'afficheResultat = 1'>Votre député est {{votreDepute}}</h1>
      <button ng-click='login()' ng-model="bouton"> Try again </button>
    </div>
  </body>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Copyright</li>
						<li>Design: <a href="http://templated.co">templated.co</a></li>

					</ul>
				</div>
			</footer>

	</body>
</html>